---
// src/components/Navbar.astro
---

<nav class="navbar">
    <div class="navbar-container">
        <!-- MTM Logo -->
        <div class="navbar-logo">
            <img src="/images/mtm-logo.svg" alt="MTM - Media Technology Monitor" class="logo-image">
        </div>

        <!-- Hamburger Menu for Mobile -->
        <div class="hamburger" id="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <!-- Navigation Menu Links -->
        <div class="navbar-menu" id="navbar-menu">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="/products" class="nav-link" data-tooltip="">PRODUCTS</a>
                </li>
                <li class="nav-item">
                    <a href="/tools" class="nav-link" data-tooltip="">TOOLS</a>
                </li>
                <li class="nav-item">
                    <a href="/solutions" class="nav-link" data-tooltip="">SOLUTIONS</a>
                </li>
                <li class="nav-item">
                    <a href="/insights" class="nav-link" data-tooltip="">INSIGHTS</a>
                </li>
            </ul>

            <!-- Action Buttons and Language Selector -->
            <div class="navbar-actions">
                <!-- Language Selector (FR/EN) -->
                <div class="navbar-language">
                    <button class="lang-btn" data-lang="fr">
                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.00008 12.8333C6.20286 12.8333 5.44939 12.6802 4.73967 12.3739C4.02994 12.0677 3.41015 11.6496 2.88029 11.1198C2.35043 10.5899 1.93237 9.97013 1.62612 9.26041C1.31987 8.55068 1.16675 7.79721 1.16675 6.99999C1.16675 6.19305 1.31987 5.43714 1.62612 4.73228C1.93237 4.02742 2.35043 3.41006 2.88029 2.8802C3.41015 2.35034 4.02994 1.93228 4.73967 1.62603C5.44939 1.31978 6.20286 1.16666 7.00008 1.16666C7.80703 1.16666 8.56293 1.31978 9.26779 1.62603C9.97265 1.93228 10.59 2.35034 11.1199 2.8802C11.6497 3.41006 12.0678 4.02742 12.374 4.73228C12.6803 5.43714 12.8334 6.19305 12.8334 6.99999C12.8334 7.79721 12.6803 8.55068 12.374 9.26041C12.0678 9.97013 11.6497 10.5899 11.1199 11.1198C10.59 11.6496 9.97265 12.0677 9.26779 12.3739C8.56293 12.6802 7.80703 12.8333 7.00008 12.8333ZM7.00008 11.6375C7.25286 11.2875 7.47161 10.9229 7.65633 10.5437C7.84105 10.1646 7.99175 9.7611 8.10842 9.33332H5.89175C6.00842 9.7611 6.15911 10.1646 6.34383 10.5437C6.52855 10.9229 6.7473 11.2875 7.00008 11.6375ZM5.48342 11.4042C5.30841 11.0833 5.15529 10.7503 5.02404 10.4052C4.89279 10.0601 4.78342 9.70277 4.69591 9.33332H2.97508C3.25703 9.81944 3.60946 10.2424 4.03237 10.6021C4.45529 10.9618 4.93897 11.2292 5.48342 11.4042ZM8.51675 11.4042C9.06119 11.2292 9.54487 10.9618 9.96779 10.6021C10.3907 10.2424 10.7431 9.81944 11.0251 9.33332H9.30425C9.21675 9.70277 9.10737 10.0601 8.97612 10.4052C8.84487 10.7503 8.69175 11.0833 8.51675 11.4042ZM2.47925 8.16666H4.46258C4.43341 7.97221 4.41154 7.7802 4.39696 7.59062C4.38237 7.40103 4.37508 7.20416 4.37508 6.99999C4.37508 6.79582 4.38237 6.59895 4.39696 6.40937C4.41154 6.21978 4.43341 6.02777 4.46258 5.83332H2.47925C2.43064 6.02777 2.39418 6.21978 2.36987 6.40937C2.34557 6.59895 2.33341 6.79582 2.33341 6.99999C2.33341 7.20416 2.34557 7.40103 2.36987 7.59062C2.39418 7.7802 2.43064 7.97221 2.47925 8.16666ZM5.62925 8.16666H8.37092C8.40008 7.97221 8.42196 7.7802 8.43654 7.59062C8.45112 7.40103 8.45842 7.20416 8.45842 6.99999C8.45842 6.79582 8.45112 6.59895 8.43654 6.40937C8.42196 6.21978 8.40008 6.02777 8.37092 5.83332H5.62925C5.60008 6.02777 5.57821 6.21978 5.56362 6.40937C5.54904 6.59895 5.54175 6.79582 5.54175 6.99999C5.54175 7.20416 5.54904 7.40103 5.56362 7.59062C5.57821 7.7802 5.60008 7.97221 5.62925 8.16666ZM9.53758 8.16666H11.5209C11.5695 7.97221 11.606 7.7802 11.6303 7.59062C11.6546 7.40103 11.6667 7.20416 11.6667 6.99999C11.6667 6.79582 11.6546 6.59895 11.6303 6.40937C11.606 6.21978 11.5695 6.02777 11.5209 5.83332H9.53758C9.56675 6.02777 9.58862 6.21978 9.60321 6.40937C9.61779 6.59895 9.62508 6.79582 9.62508 6.99999C9.62508 7.20416 9.61779 7.40103 9.60321 7.59062C9.58862 7.7802 9.56675 7.97221 9.53758 8.16666ZM9.30425 4.66666H11.0251C10.7431 4.18055 10.3907 3.75763 9.96779 3.39791C9.54487 3.03818 9.06119 2.77082 8.51675 2.59582C8.69175 2.91666 8.84487 3.24964 8.97612 3.59478C9.10737 3.93992 9.21675 4.29721 9.30425 4.66666ZM5.89175 4.66666H8.10842C7.99175 4.23888 7.84105 3.83541 7.65633 3.45624C7.47161 3.07707 7.25286 2.71249 7.00008 2.36249C6.7473 2.71249 6.52855 3.07707 6.34383 3.45624C6.15911 3.83541 6.00842 4.23888 5.89175 4.66666ZM2.97508 4.66666H4.69591C4.78342 4.29721 4.89279 3.93992 5.02404 3.59478C5.15529 3.24964 5.30841 2.91666 5.48342 2.59582C4.93897 2.77082 4.45529 3.03818 4.03237 3.39791C3.60946 3.75763 3.25703 4.18055 2.97508 4.66666Z" fill="#706F6C" stroke="#706F6C" stroke-width="0.3"/>
                        </svg>
                        FR
                    </button>
                    <button class="lang-btn active" data-lang="en">
                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.00008 12.8333C6.20286 12.8333 5.44939 12.6802 4.73967 12.3739C4.02994 12.0677 3.41015 11.6496 2.88029 11.1198C2.35043 10.5899 1.93237 9.97013 1.62612 9.26041C1.31987 8.55068 1.16675 7.79721 1.16675 6.99999C1.16675 6.19305 1.31987 5.43714 1.62612 4.73228C1.93237 4.02742 2.35043 3.41006 2.88029 2.8802C3.41015 2.35034 4.02994 1.93228 4.73967 1.62603C5.44939 1.31978 6.20286 1.16666 7.00008 1.16666C7.80703 1.16666 8.56293 1.31978 9.26779 1.62603C9.97265 1.93228 10.59 2.35034 11.1199 2.8802C11.6497 3.41006 12.0678 4.02742 12.374 4.73228C12.6803 5.43714 12.8334 6.19305 12.8334 6.99999C12.8334 7.79721 12.6803 8.55068 12.374 9.26041C12.0678 9.97013 11.6497 10.5899 11.1199 11.1198C10.59 11.6496 9.97265 12.0677 9.26779 12.3739C8.56293 12.6802 7.80703 12.8333 7.00008 12.8333ZM7.00008 11.6375C7.25286 11.2875 7.47161 10.9229 7.65633 10.5437C7.84105 10.1646 7.99175 9.7611 8.10842 9.33332H5.89175C6.00842 9.7611 6.15911 10.1646 6.34383 10.5437C6.52855 10.9229 6.7473 11.2875 7.00008 11.6375ZM5.48342 11.4042C5.30841 11.0833 5.15529 10.7503 5.02404 10.4052C4.89279 10.0601 4.78342 9.70277 4.69591 9.33332H2.97508C3.25703 9.81944 3.60946 10.2424 4.03237 10.6021C4.45529 10.9618 4.93897 11.2292 5.48342 11.4042ZM8.51675 11.4042C9.06119 11.2292 9.54487 10.9618 9.96779 10.6021C10.3907 10.2424 10.7431 9.81944 11.0251 9.33332H9.30425C9.21675 9.70277 9.10737 10.0601 8.97612 10.4052C8.84487 10.7503 8.69175 11.0833 8.51675 11.4042ZM2.47925 8.16666H4.46258C4.43341 7.97221 4.41154 7.7802 4.39696 7.59062C4.38237 7.40103 4.37508 7.20416 4.37508 6.99999C4.37508 6.79582 4.38237 6.59895 4.39696 6.40937C4.41154 6.21978 4.43341 6.02777 4.46258 5.83332H2.47925C2.43064 6.02777 2.39418 6.21978 2.36987 6.40937C2.34557 6.59895 2.33341 6.79582 2.33341 6.99999C2.33341 7.20416 2.34557 7.40103 2.36987 7.59062C2.39418 7.7802 2.43064 7.97221 2.47925 8.16666ZM5.62925 8.16666H8.37092C8.40008 7.97221 8.42196 7.7802 8.43654 7.59062C8.45112 7.40103 8.45842 7.20416 8.45842 6.99999C8.45842 6.79582 8.45112 6.59895 8.43654 6.40937C8.42196 6.21978 8.40008 6.02777 8.37092 5.83332H5.62925C5.60008 6.02777 5.57821 6.21978 5.56362 6.40937C5.54904 6.59895 5.54175 6.79582 5.54175 6.99999C5.54175 7.20416 5.54904 7.40103 5.56362 7.59062C5.57821 7.7802 5.60008 7.97221 5.62925 8.16666ZM9.53758 8.16666H11.5209C11.5695 7.97221 11.606 7.7802 11.6303 7.59062C11.6546 7.40103 11.6667 7.20416 11.6667 6.99999C11.6667 6.79582 11.6546 6.59895 11.6303 6.40937C11.606 6.21978 11.5695 6.02777 11.5209 5.83332H9.53758C9.56675 6.02777 9.58862 6.21978 9.60321 6.40937C9.61779 6.59895 9.62508 6.79582 9.62508 6.99999C9.62508 7.20416 9.61779 7.40103 9.60321 7.59062C9.58862 7.7802 9.56675 7.97221 9.53758 8.16666ZM9.30425 4.66666H11.0251C10.7431 4.18055 10.3907 3.75763 9.96779 3.39791C9.54487 3.03818 9.06119 2.77082 8.51675 2.59582C8.69175 2.91666 8.84487 3.24964 8.97612 3.59478C9.10737 3.93992 9.21675 4.29721 9.30425 4.66666ZM5.89175 4.66666H8.10842C7.99175 4.23888 7.84105 3.83541 7.65633 3.45624C7.47161 3.07707 7.25286 2.71249 7.00008 2.36249C6.7473 2.71249 6.52855 3.07707 6.34383 3.45624C6.15911 3.83541 6.00842 4.23888 5.89175 4.66666ZM2.97508 4.66666H4.69591C4.78342 4.29721 4.89279 3.93992 5.02404 3.59478C5.15529 3.24964 5.30841 2.91666 5.48342 2.59582C4.93897 2.77082 4.45529 3.03818 4.03237 3.39791C3.60946 3.75763 3.25703 4.18055 2.97508 4.66666Z" fill="#706F6C" stroke="#706F6C" stroke-width="0.3"/>
                        </svg>
                        EN
                    </button>
                </div>

                <a href="#" class="btn btn-outline">SIGN IN</a>
                <a href="#" class="btn btn-primary">REQUEST A DEMO</a>
            </div>
        </div>
    </div>
</nav>
